HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### private ###
build.gradle
src/main/resources/application.yaml
src/main/resources/application-dev.yml
src/main/resources/application-prod.yml
src/main/resources/db/migration/V1.1.10__Insert_data_to_user.sql

### others ###
.DS_Store