<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" th:with="title='关于', top_poster='我'
, bottom_content='非淡泊无以明志，非宁静无以致远'">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>[[${title}]]</title>
  <th:block th:replace="/blog/common/_common_css::common_css">

  </th:block>

</head>

<body>

<th:block th:replace="/blog/common/_head::navbar">

</th:block>
<th:block th:replace="/blog/common/_poster::navbar(${top_poster}, ${bottom_content})">

</th:block>
  <!-- Main Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul>
            <li>描述:一个喜欢瞎搞的魔法师</li>
            <li>
              技术栈:
              <ul>
                <li>语言: Java(主力), Python</li>
                <li>框架: SpringBoot, MyBaits</li>
                <li>前端模板引擎: Thymeleaf</li>
                <li>数据库: MySQL, PostgreSQL</li>
                <li>版本控制工具: Git, SVN</li>
                <li>自动构建工具: Gradle, Maven</li>
                <li>数据迁移工具: Flyway</li>
              </ul>
            </li>
            <li>
              现居地: 日本, 东京
            </li>
            <li>
              喜欢的事物: 动漫, 编程, 篮球, 读书, 游戏, 历史古迹
            </li>
            <li>
              性格: 热情, 温和, 冲动, 谨慎, 心理活动复杂
            </li>
            <li>
              期待: 拥有属于自己的书房
            </li>
            <li>
              座右铭: 谨言慎行
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>

  <hr>

<th:block th:replace="/blog/common/_footer::footer">

</th:block>
</body>

<th:block th:replace="/blog/common/_common_js::common_js">

</th:block>
</html>
